div.paleBlueRows {
    font-family: source-sans-pro, sans-serif;

    text-align: left;
    border-collapse: collapse;
}
.divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 3px 2px;
}
.divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: 13px;
}
.divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #F5F5F5;
}
.paleBlueRows .tableFootStyle {
    font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}