<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->

    <!--<servlet>-->
        <!--<servlet-name>DisplayEmployeeServlet</servlet-name>-->
        <!--&lt;!&ndash;<servlet-class>com.mtest.webapp.DisplayEmployeeServlet</servlet-class>&ndash;&gt;-->
        <!--<jsp-file>/WEB-INF/jsp/employees.jsp</jsp-file>-->
    <!--</servlet>-->
    <welcome-file-list>

        <!--<welcome-file>employees.jsp</welcome-file>-->
        <welcome-file>searchEmployees</welcome-file>

        <!--<welcome-file>/employees.jsp</welcome-file>-->
        <!--<welcome-file>/displayEmployees</welcome-file>-->
        <!--<welcome-file>employees</welcome-file>-->
        <!--<welcome-file>/employees</welcome-file>-->

    </welcome-file-list>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.mtest.webapp.DisplayEmployeeServlet</servlet-class>
        <!--<jsp-file>/WEB-INF/jsp/employees.jsp</jsp-file>-->
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>com.mtest.webapp.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <servlet-class>com.mtest.webapp.EditEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDepartmentPageServlet</servlet-name>
        <servlet-class>com.mtest.webapp.EditDepartmentPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDepartmentServlet</servlet-name>
        <servlet-class>com.mtest.webapp.UpdateDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>com.mtest.webapp.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeePage</servlet-name>
        <jsp-file>/WEB-INF/jsp/addEmployee.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentPageServlet</servlet-name>
        <servlet-class>com.mtest.webapp.AddDepartmentPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <servlet-class>com.mtest.webapp.AddDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeePage</servlet-name>
        <jsp-file>/WEB-INF/jsp/editEmployee.jsp</jsp-file>
    </servlet>
    <!--<servlet>-->
        <!--<servlet-name>EditDepartmentPage</servlet-name>-->
        <!--<jsp-file>/WEB-INF/jsp/editDepartment.jsp</jsp-file>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>SearchEmployeePage</servlet-name>
        <jsp-file>/WEB-INF/jsp/searchEmployee.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EmployeePageServlet</servlet-name>
        <servlet-class>com.mtest.webapp.EmployeePageServlet</servlet-class>
        <!--<jsp-file>/WEB-INF/jsp/employees.jsp</jsp-file>-->
    </servlet>
    <servlet>
        <servlet-name>DepartmentPageServlet</servlet-name>
        <servlet-class>com.mtest.webapp.DepartmentPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mtest.webapp.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mtest.webapp.LogoutServlet</servlet-class>
    </servlet>
    <!-- Note: All <servlet> elements MUST be grouped together and
          placed IN FRONT of the <servlet-mapping> elements -->

    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/displayEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/doAddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <url-pattern>/doEditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDepartmentServlet</servlet-name>
        <url-pattern>/updateDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/doSearchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeePage</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentPageServlet</servlet-name>
        <url-pattern>/addDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <url-pattern>/doAddDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeePage</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDepartmentPageServlet</servlet-name>
        <url-pattern>/editDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeePage</servlet-name>
        <url-pattern>/searchEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePageServlet</servlet-name>
        <url-pattern>/employeePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentPageServlet</servlet-name>
        <url-pattern>/departmentPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>-->
        <!--<servlet-name>DisplayEmployeeServlet</servlet-name>-->
        <!--<url-pattern>/webapp</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>